  <head>
    <meta charset="utf-8">
    <meta name="description" content="徐栖的个人网站，关注科学与幻想类文学">
    <meta name="generator" content ="metalsmith">
    <meta name="keywords" content="scifi,science,literature,fiction">
    <meta name="author" content="{{ author }}">
    <title>{{ title }} | Expoundite.net</title>

    <link type="text/css" href="/assets/css/pure-min.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/grids-responsive-min.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/main.css" rel="stylesheet">
  </head> 
