<nav>
  <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">首页</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/essay-index">杂文</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/review-index">评论</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/releases">作品</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/blog">Blog</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/links">链接</a></li>
    </ul>
</nav>
