.focus {
    position: absolute;
    top: 50%;
}

.social {
    font-size: 2em;
    clear: both;
    float: left;
    ul {
	white-space: nowrap;
	list-style: none;
	margin: 0;
	li {
	    display: inline-block;
	    padding-left: 0.5em;
	    padding-bottom: 0.5em;
	    a {
		color: #EBDBB2;
		&:hover {
		    color: #AF3A03;
		}
	    }
	}
    }
}

h1.myname {
    left: auto;
    font-size: 12em;
    float: left;
    margin: 0;
    padding-right: 0.1em;
    border-right: 2px solid white;
}

ul.homenav {
    margin-top: 1em;
    padding-left: 1.5em;
    line-height: 1.85em;
    list-style: none;
    float: right;
    a {
	font-size: larger;
    }
}
