.content {
    margin-left: auto;
    margin-right: auto;
}

.title {
    .content
}

nav {
    width: auto;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #999;
}

.article-list {
    list-style: none;
}
