<!DOCTYPE html>
<html>
{{> header}}
  <body>
    {{> nav}}
    <article class="pure-g">
      <h2 class="title pure-u-1 pure-u-md-3-5">{{ title }}</h2>
      <div class="pure-u-1 pure-u-md-3-5 content">
      {{{ contents }}}
      <hr/>
      </div>
      <div class="pure-u-1 pure-u-md-3-5 content">
	  {{#collections.links}}
	    <article>
	      <h3 class="title content"><a href="{{url}}">{{title}}</a>
		&nbsp;
		<span class="right">{{date}}</span>
	      </h3>
	      {{{ contents }}}
	      <ul>
	      {{#tags}}
		<li><a href="/topics/{{slug}}/">{{name}}</a></li>
	      {{/tags}}
	      </ul>
	    </article>
	  {{/collections.links}}
      </div>
    </article>
    {{> footer}}
  </body>
</html>
